# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
PORT=3000
# DB_HOST=postgres_container
REDIS_HOST=localhost
REDIS_PORT=6379
DB_HOST=localhost
DB_PORT=5432
DB_SCHEMA=public
REFRESH_TOKEN=
# local
POSTGRES_USER=gwyn
POSTGRES_PASSWORD=gwyn_trader
POSTGRES_DB=kgb_hub
REDIRECT_URL=https://developers.google.com/oauthplayground
CLIENT_ID=
CLIENT_SECRET=
CALLBACK_URL=http://localhost:3000/api/v1/auth/redirect
SECRET=7haoojNK1mo
REFRESH_SECRET=knxnbOj1nnn
FE_NEXT_URL=http://localhost:3000/
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}?schema=${DB_SCHEMA}&sslmode=prefer
PUBLIC_URL=https://localhost:3001
EMAIL_SENDER=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
